<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CadastraCorrentista</servlet-name>
        <servlet-class>servlets.CadastraCorrentista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastraConta</servlet-name>
        <servlet-class>servlets.CadastraConta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RealizaSaque</servlet-name>
        <servlet-class>servlets.RealizaSaque</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RealizaDeposito</servlet-name>
        <servlet-class>servlets.RealizaDeposito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PagamentoDeConta</servlet-name>
        <servlet-class>servlets.PagamentoDeConta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RealizaTransferencia</servlet-name>
        <servlet-class>servlets.RealizaTransferencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaSaldo</servlet-name>
        <servlet-class>servlets.ConsultaSaldo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaExtrato</servlet-name>
        <servlet-class>servlets.ConsultaExtrato</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastraCorrentista</servlet-name>
        <url-pattern>/CadastraCorrentista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastraConta</servlet-name>
        <url-pattern>/CadastraConta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RealizaSaque</servlet-name>
        <url-pattern>/RealizaSaque</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RealizaDeposito</servlet-name>
        <url-pattern>/RealizaDeposito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PagamentoDeConta</servlet-name>
        <url-pattern>/PagamentoDeConta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RealizaTransferencia</servlet-name>
        <url-pattern>/RealizaTransferencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaSaldo</servlet-name>
        <url-pattern>/ConsultaSaldo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaExtrato</servlet-name>
        <url-pattern>/ConsultaExtrato</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
